
<div class="content" id="obs1">
    <h1 id="introduction">Introduction<a title="Link to this heading" class="header-link" aria-hidden="true"
            href="guide/overview#introduction"><i class="material-icons">link</i></a></h1>
        <div class="toc-inner no-print collapsed ng-star-inserted">
            <div class="toc-heading embedded ng-star-inserted">Contents</div><!----><!---->
            <ul class="toc-list embedded"><!----><!---->
                <li class="h2 ng-star-inserted" title="First exampleslink"><a href="guide/overview#first-examples">First
                        examples</a></li><!----><!---->
                <li class="h3 ng-star-inserted" title="Puritylink"><a href="guide/overview#purity">Purity</a></li>
                <!----><!---->
                <li class="h3 ng-star-inserted" title="Flowlink"><a href="guide/overview#flow">Flow</a></li>
                <!----><!---->
                <li class="h3 ng-star-inserted" title="Valueslink"><a href="guide/overview#values">Values</a></li>
                <!----><!----><!---->
            </ul><!---->
        </div><!---->
    <p>RxJS is a library for composing asynchronous and event-based programs by using observable sequences. It provides
        one core type, the <a href="./guide/observable">Observable</a>, satellite types (Observer, Schedulers, Subjects)
        and operators inspired by <code>Array</code> methods
        (<code><a href="api/index/function/map" class="code-anchor">map</a></code>,
        <code><a href="api/index/function/filter" class="code-anchor">filter</a></code>,
        <code><a href="api/index/function/reduce" class="code-anchor">reduce</a></code>,
        <code><a href="api/index/function/every" class="code-anchor">every</a></code>, etc) to allow handling
        asynchronous events as collections.</p>
    <p><span class="informal">Think of RxJS as Lodash for events.</span></p>
    </div>
 