<!-- <div class="container">
  <div class="row align-items-start">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div> -->

<!-- <app-bike-list 
*ngFor="let b of BikeList"
[bike]="b"
></app-bike-list> -->


<!-- <app-header></app-header>
<app-bike-list 
*ngFor="let b of BikeList"
[bike]="b"
></app-bike-list>
<app-side-wid></app-side-wid> -->
<!-- <app-basic></app-basic> -->
<!-- <app-basic>
    <p>Title 111 </p>
</app-basic> -->
<!-- <app-basic>
  <p>Title 2 </p>
</app-basic>
 -->
<!-- <app-multislot>

      <p>Multi slot Content from App Component without Tag</p>
      <p question>Question selector Content from App Component MultiSlot</p>


</app-multislot> -->
<!-- <app-footer></app-footer> -->

<!-- <div>
  <app-mobile-banner [mobiles]="mobiles"></app-mobile-banner>
</div> -->
<!-- 
<app-subscriber></app-subscriber>

<app-subscriber2></app-subscriber2> -->
<!-- <app-observable-ex></app-observable-ex> -->
<!-- <app-subject-ex></app-subject-ex> -->

<!-- <app-sample></app-sample> -->

<p>Basic Observables and Subjects</p>
 <app-observable-ex></app-observable-ex>
 <p>Calling Subject through Service</p> 
 <app-subject-ex></app-subject-ex>

<app-home></app-home>
<app-pipe></app-pipe>
<app-async-ex></app-async-ex>